
$blueIceLight: rgb(202, 232, 240);
$blueIceMed: rgb(189, 223, 230);
$blueIceDark: rgb(152, 195, 206);
$greyExtraLight :#282c34;
$greyLight: rgb(25, 30, 39);
$greyMedium: #20232a;
$darkIcons: rgb(53, 61, 77);
$lightIcons: rgb(69, 77, 98);
$extralightIcons: grey;


a:visited, a:link {
    color:white;

    &:hover {
        color:aqua;
    }
}

* {
    font-family: 'Quicksand', sans-serif;
    padding:0; margin:0;
    box-sizing: border-box;
    font-weight: 100;
    cursor:default;
}

body {
    width:100vw;
    background-color: $greyLight;
}

header {
    width:100vw;
    position: fixed;
    top:0;
    height:14%;
    background-color: $greyMedium;
    color:white;
    padding:10px 15vw 10px 15vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(52, 66, 96);
    z-index: 999;
    font-size: 1rem;
    & h1 {
        cursor:default;
    }
}

#topNav {
    list-style-type: none;
    width:max-content;
    margin-top:14px;
    position: absolute;
    justify-content: end;
    right:15%;
    display: flex;
    gap:8%;
    font-size: 1rem;
}

.voylesPuzzleNav {
    text-decoration:none;
    &:hover {
        color:aqua;
        cursor:pointer;
    }
}



#landingPage {
    width:100%;
    margin-top:6%;
    height:70vh;
    background: rgb(25,30,39);
    background: linear-gradient(180deg, rgba(25,30,39,1) 0%, rgba(31,37,48,1) 50%,
    rgba(31,37,48,1) 50%,rgb(45, 54, 70) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        content:'';
        width:100vw;
        height:400px;
        position: absolute;
        bottom:-2%;
        z-index: 100;
        background-image: url('clouds.PNG');
        background-size: 1440px;
        background-repeat: no-repeat;
    }
}

#moon {
    position: fixed;
    width:100px;
    height:100px;
    top:30%;
    opacity: .5;
    border-radius: 300px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,254,255,1) 100%);
    animation: moonglow 6s infinite;
}

#pageStickersContainer {
    width:100%;
    height:100%;
    position: relative;
}

.pageStickerSmall {
    width:20px;
    height:20px;
    border:double $darkIcons 7px;
    position: absolute;
    opacity: .2;
}

.pageStickerCircle {
    border-radius: 300px;
    border:double $extralightIcons 7px;
    animation:growCircle 5s infinite;
}
.pageStickerSquare {
    animation:squareRotate 4s infinite;
}

#pageSticker_1 {
    left:10%;
    top:50%;
}
#pageSticker_2 {
    right:10%;
    top:20%;
}
#pageSticker_3 {
    right:35%;
    top:55%;
    border:double rgb(45, 80, 95) 7px;
    animation-direction: reverse;
}
#pageSticker_4 {
    left:35%;
    top:30%;
}

#vp_Title {
font-size: 1.4rem;
color:rgb(255, 255, 255);
}



#voylesPuzzle {
    width:100%;
    height:max-content;
    background: rgb(40,44,52);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 14rem 0;
    //this padding protects your transition div!
    gap:2rem;
    overflow: hidden;
}

#vpLetterBoard {
    width:70vw;
    height:max-content;
    background-color: rgb(40,44,52);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1vw;
    position: relative;
}

#vpLetterBoard_Row1 {
    width:70vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}

#vpLetterBoard_Row2 {
    width:65vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}
#vpLetterBoard_Row3 {
    width:55vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}

.rowSlideLeft {
    animation: slideoutRowLeft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rowSlideRight {
    animation: slideoutRowRight 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#vpLetterCode {
    animation: none;
}

.vpLetter {
    width:6.2vw;
    height: 6.2vw;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgb(169, 169, 169);
    z-index: 40;

    &:hover {
        transform: scale(1.03);
        background-color: rgb(237, 237, 237);
        animation:hoverLetter 1s;
        animation-fill-mode: forwards;  
    }

}
.vpLetterR1 {
    background-color: $blueIceDark;
}
.vpLetterR2 {
    background-color: $blueIceMed;
}
.vpLetterR3 {
    background-color: $blueIceLight;
}

.reveal{
  position: relative;
  opacity: .1;
  transition: 2s all ease;
}
.reveal.active{
  opacity: 1;
}

#vpDisplayWrapper {
    width:300px;
    height:300px;
    display: none;
    background-color: rgb(238, 238, 238);
    position: absolute;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.vpDisplay_active {
    animation: vpDisplayAppear 2s;
    animation-timing-function: cubic-bezier(0.465, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

#vpDisplay_Options {
    display:flex;
    position: absolute;
    top:0;
    flex-wrap: wrap;
    height: max-content;
    width:100%;
    flex-direction: column;
    align-items: end;
    z-index: 100;
    & button {
        width:max-content;
        padding:.2rem .4rem .2rem .4rem;
        color:black;
        font-size: 1rem;
        border-bottom-left-radius: 6px;
        border:solid rgb(148, 148, 148) 1px;
        opacity: .6;
    
        &:hover {
            background-color:$greyLight;
            color:white;
            transition-duration: 1s;
            cursor:pointer;
            opacity: 1;
        }
    }
}

#displayImg {
    position: absolute;
    width:200px;
    height:0px;
    bottom:2%;
    align-self: center;
    animation: animateDisplayImg 2s;
    animation-delay: .5s; 
    animation-fill-mode: forwards;
    background-size: cover;
    background-repeat: no-repeat;
}

#transitionRounded {
    width:100vw;
    height:180px;
    position: absolute;
    top:-150px;
    background-image: url('transition.jpg');
    transform: rotate(180deg);
    background-size: 100%;
    background-repeat: no-repeat;
}


#brainBendersWrapper {
    width:100%;
    height:max-content;
    position: relative;
    background: rgb(25,30,39);
    background: linear-gradient(180deg, rgba(25,30,39,1) 5%, rgba(34,40,52,1) 100%);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    padding: 4rem 0 6rem 0;
}

#brainBenderTitle {
    width:100%;
    display: flex;
    justify-content: center;
    position: relative;
    color:white;
    gap:0vw;
    padding-bottom: 1.5rem;
}

.brainBenderTitle_Animation_Active {
    animation: brainBenderTitle .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.69, 1, 0.22, 1);
}

#brainBender_Container_1,#brainBender_Container_2,#brainBender_Container_3  {
    width:650px;
    height:max-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:$greyExtraLight;
    padding:10px 5px 10px 5px;
    border-radius: 8px;
    gap:5px;
}



.brainBenderTile {
    height:100px;
    width:100px;
    background-color: rgb(204, 237, 237);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 4px;
    opacity: .4;

    &:hover {
        background-color: rgb(167, 200, 216);
        transition: 1s;
    }
}

.brainBenderAnimation {
    animation: brainBenderTile 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}

//Below are all the brain bender displays

#brainBenderTile_1 {
    background-image: url('bb1.PNG');
}
#brainBenderTile_2 {
    background-image: url('bb2.PNG');
}
#brainBenderTile_3 {
    background-image: url('bb3.PNG');
}
#brainBenderTile_4 {
    background-image: url('bb4.PNG');
}
#brainBenderTile_5 {
    background-image: url('bb5.PNG');
}
#brainBenderTile_6 {
    background-image: url('bb6.PNG');
}
#brainBenderTile_7 {
    background-image: url('bb7.PNG');
}
#brainBenderTile_8 {
    background-image: url('bb8.PNG');
}
#brainBenderTile_9 {
    background-image: url('bb9.PNG');
}
#brainBenderTile_10 {
    background-image: url('bb10.PNG');
}
#brainBenderTile_11 {
    background-image: url('bb11.PNG');
}
#brainBenderTile_12 {
    background-image: url('bb12.PNG');
}
#brainBenderTile_13 {
    background-image: url('bb13.PNG');
}
#brainBenderTile_14 {
    background-image: url('bb14.PNG');
}
#brainBenderTile_15 {
    background-image: url('bb15.PNG');
}
#brainBenderTile_16 {
    background-image: url('bb16.PNG');
}
#brainBenderTile_17 {
    background-image: url('bb10.PNG');
}
#brainBenderTile_18 {
    background-image: url('bb11.PNG');
}


footer {
    width:100vw;
    height:120px;
    background-color: $greyMedium;
    display: flex;
    font-size: .6rem;
    align-items: center;
    justify-content: center;
    color:rgb(195, 195, 195);
    cursor:text;
    border-top:2px solid #344260;
}

#contactEmail {
    width:max-content;
    height: min-content;
    &:hover {
        color:aqua;
    }
}


// Animations

@keyframes hoverLetter {
    from {
        font-size:1rem;
    }
    100% {
        font-size: 1.5rem;
    }
}

@keyframes moonglow {
    from {
        opacity: .5;
        box-shadow: white 0px 0px 8px 2px;
    }
    25% {
        opacity: .3;
        box-shadow: white 0px 0px 16px 2px;
    }
    50% {
        opacity: .5;
        box-shadow: white 0px 0px 10px 2px;
    }
    75% {
        opacity: .7;
        box-shadow: white 0px 0px 20px 2px;
    }
    100% {
        opacity: .5;
        box-shadow: white 0px 0px 8px 2px;
    }
}

@keyframes brainBenderTitle {
    from {
        gap:120vw;
    }
    100% {
        gap:0;
    }
}

@keyframes brainBenderTile {
    from {
        opacity: .4;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes slideoutRowLeft {
    from {
        position: relative;
        right:0vw;
    }
    100% {
        position: relative;
        right:100vw;
    }
}

@keyframes slideoutRowRight {
    from {
        position: relative;
        left:0vw;
    }
    100% {
        position: relative;
        left:100vw;
    }
}

@keyframes vpDisplayAppear {
    from {
        height:0%;
    }
    100% {
        height:220px;
    }
}

@keyframes animateDisplayImg {
    from {
        height:0%;
    }
    100% {
        height:200px;
    }
}

@keyframes squareRotate {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    55% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes growCircle {
    from {
        transform: translateY(-6px);
    }
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}





// These are all of the media Queries

@media only screen and (max-width: 500px) {
    #landingPage {
        &::after {
            content:'';
        }
    }

    #pageSticker_1 {
        left:10%;
        top:50%;
    }
    #pageSticker_2 {
        right:15%;
        top:20%;
    }
    #pageSticker_3 {
        right:25%;
        top:70%;
        border:double rgb(45, 80, 95) 7px;
        animation-direction: reverse;
    }
    #pageSticker_4 {
        left:30%;
        top:20%;
    }

    #voylesPuzzle {
        padding: 3rem 0 6rem 0;
    }
    .vpLetter {
        width:11.2vw;
        height: 11.2vw;
    }
    #vpLetterBoard_Row1 {
        flex-wrap:wrap;
    }
    #vpLetterBoard_Row2 {
        flex-wrap:wrap;
        margin-top:1%;
    }
    #vpLetterBoard_Row3 {
        flex-wrap:wrap;
        margin-top:1%;
    }
    #vpDisplayWrapper {
        width:300px;
        height:10px;
    }
    #topNav {
        list-style-type: none;
        width:40%;
        margin-top:14px;
        position: absolute;
        justify-content: end;
        right:16%;
        display: none;
        gap:5%;
    }
    #vpLetterCode {
        font-size: .7rem;
    }
    #brainBender_Container_1,#brainBender_Container_2,#brainBender_Container_3  {
        width:325px;
    }
}