
$blueIceLight: rgb(202, 232, 240);
$blueIceMed: rgb(189, 223, 230);
$blueIceDark: rgb(152, 195, 206);
$greyExtraLight :#282c34;
$greyLight: rgb(25, 30, 39);
$greyMedium: #20232a;
$darkIcons: rgb(53, 61, 77);
$lightIcons: rgb(69, 77, 98);
$extralightIcons: grey;


a:visited, a:link {
    color:white;

    &:hover {
        color:aqua;
    }
}

* {
    user-select: none;
    font-family: 'Quicksand', sans-serif;
    padding:0; margin:0;
    box-sizing: border-box;
    font-weight: 100;
    cursor:default;
}

body {
    width:100vw;
    background-color: $greyLight;
}

header {
    width:100vw;
    position: fixed;
    top:0;
    height:14%;
    background-color: $greyMedium;
    color:white;
    padding:10px 15vw 10px 15vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(52, 66, 96);
    z-index: 999;
    font-size: 1rem;
    & h1 {
        cursor:default;
    }
}

#topNav {
    list-style-type: none;
    width:max-content;
    margin-top:14px;
    position: absolute;
    justify-content: end;
    right:16%;
    display: flex;
    gap:8%;
    font-size: 1rem;
}

.voylesPuzzleNav {
    text-decoration:none;
    &:hover {
        color:aqua;
        cursor:pointer;
    }
}



#landingPage {
    width:100%;
    margin-top:6%;
    height:70vh;
    background: rgb(25,30,39);
    background: linear-gradient(180deg, rgba(25,30,39,1) 0%, rgba(31,37,48,1) 50%,
    rgba(31,37,48,1) 50%,rgb(45, 54, 70) 100%);
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        content:'';
        width:100vw;
        height:400px;
        position: absolute;
        bottom:-2%;
        z-index: 100;
        background-image: url('clouds.PNG');
        background-size: 1440px;
        background-repeat: no-repeat;
    }
}

#moon {
    position: fixed;
    width:100px;
    height:100px;
    top:30%;
    opacity: .5;
    border-radius: 300px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,254,255,1) 100%);
    animation: moonglow 4s infinite;
}

#pageStickersContainer {
    width:100%;
    height:100%;
    position: relative;
}

.pageStickerSmall {
    width:20px;
    height:20px;
    border:double $darkIcons 7px;
    position: absolute;
    opacity: .2;
}

.pageStickerCircle {
    border-radius: 300px;
    border:double $extralightIcons 7px;
    animation:growCircle 5s infinite;
}
.pageStickerSquare {
    animation:squareRotate 4s infinite;
}

#pageSticker_1 {
    left:10%;
    top:50%;
}
#pageSticker_2 {
    right:10%;
    top:20%;
}
#pageSticker_3 {
    right:35%;
    top:55%;
    border:double rgb(45, 80, 95) 7px;
    animation-direction: reverse;
}
#pageSticker_4 {
    left:35%;
    top:30%;
}

.sectionTitle {
font-size: 1.4rem;
color:rgb(255, 255, 255);
}



#voylesPuzzle {
    width:100%;
    height:max-content;
    background: rgb(40,44,52);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 14rem 0;
    //this padding protects your transition div!
    gap:2rem;
    overflow: hidden;
}

#vpLetterBoard {
    width:70vw;
    height:max-content;
    background-color: rgb(40,44,52);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1vw;
    position: relative;
}

#vpLetterBoard_Row1 {
    width:70vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}

#vpLetterBoard_Row2 {
    width:65vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}
#vpLetterBoard_Row3 {
    width:55vw;
    height:30%;
    display: flex;
    gap:1vw;
    justify-content: center;
}

.rowSlideLeft {
    animation: slideoutRowLeft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.rowSlideRight {
    animation: slideoutRowRight 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#vpLetterCode {
    animation: none;
}


.vpLetter {
    width:6.2vw;
    height: 6.2vw;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border:solid rgba(106, 55, 55, 0);
    box-shadow: 0px 0px 2px 1px rgb(169, 169, 169);
    z-index: 40;

    &:hover {
        transform: scale(1.04);
        background-color: rgb(237, 237, 237);
        animation:hoverLetter 1s;
        animation-fill-mode: forwards;  
    }

}
.vpLetterR1 {
    background-color: $blueIceDark;
}
.vpLetterR2 {
    background-color: $blueIceMed;
}
.vpLetterR3 {
    background-color: $blueIceLight;
}

.reveal{
  position: relative;
  opacity: .1;
  transition: 2s all ease;
}
.reveal.active{
  opacity: 1;
}

#vpDisplayWrapper {
    width:300px;
    height:300px;
    display: none;
    background-color: rgb(238, 238, 238);
    position: absolute;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.vpDisplay_active {
    animation: vpDisplayAppear 2s;
    animation-timing-function: cubic-bezier(0.465, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
}

#vpDisplay_Options {
    display:flex;
    position: absolute;
    top:0;
    flex-wrap: wrap;
    height: max-content;
    width:100%;
    flex-direction: column;
    align-items: end;
    z-index: 100;
    & button {
        width:max-content;
        padding:.2rem .4rem .2rem .4rem;
        color:black;
        font-size: 1rem;
        border-bottom-left-radius: 6px;
        border:solid rgb(148, 148, 148) 1px;
        opacity: .6;
    
        &:hover {
            background-color:$greyLight;
            color:white;
            transition-duration: 1s;
            cursor:pointer;
            opacity: 1;
        }
    }
}

#displayImg {
    position: absolute;
    width:200px;
    height:0px;
    align-self: center;
    animation: animateDisplayImg 2s;
    animation-delay: .5s; 
    animation-fill-mode: forwards;
    background-size: cover;
    background-repeat: no-repeat;
}

#transitionRounded {
    width:100vw;
    height:180px;
    position: absolute;
    top:-150px;
    background-image: url('transition.jpg');
    transform: rotate(180deg);
    background-size: 100%;
    background-repeat: no-repeat;
}


#brainBendersWrapper {
    width:100%;
    height:max-content;
    position: relative;
    background: rgb(25,30,39);
    background: linear-gradient(180deg, rgba(25,30,39,1) 5%, rgba(34,40,52,1) 100%);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    padding: 4rem 0 6rem 0;
}

#brainBenderTitle {
    width:100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    position: relative;
    color:white;
    gap:0vw;
    padding-bottom: 1rem;
}

.brainBenderTitle_Animation_Active {
    animation: brainBenderTitle .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.69, 1, 0.22, 1);
}

#brainBender_Container_1,#brainBender_Container_2,#brainBender_Container_3,
#brainBender_Container_4,#brainBender_Container_5,#brainBender_Container_6  {
    width:650px;
    height:max-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:$greyExtraLight;
    padding:10px 5px 10px 5px;
    border-radius: 8px;
    gap:5px;
}



.brainBenderTile {
    height:100px;
    width:100px;
    background-color: rgb(204, 237, 237);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    border-radius: 4px;
    opacity: .4;

    &:hover {
        background-color: rgb(167, 200, 216);
        transition: 1s;
    }
}

.brainBenderAnimation {
    animation: brainBenderTile 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
}

//Below are all the brain bender displays

#brainBenderTile_1 {
    background-image: url('bb1.PNG');
}
#brainBenderTile_2 {
    background-image: url('bb2.PNG');
}
#brainBenderTile_3 {
    background-image: url('bb3.PNG');
}
#brainBenderTile_4 {
    background-image: url('bb4.PNG');
}
#brainBenderTile_5 {
    background-image: url('bb5.PNG');
}
#brainBenderTile_6 {
    background-image: url('bb6.PNG');
}
#brainBenderTile_7 {
    background-image: url('bb7.PNG');
}
#brainBenderTile_8 {
    background-image: url('bb8.PNG');
}
#brainBenderTile_9 {
    background-image: url('bb9.PNG');
}
#brainBenderTile_10 {
    background-image: url('bb10.PNG');
}
#brainBenderTile_11 {
    background-image: url('bb11.PNG');
}
#brainBenderTile_12 {
    background-image: url('bb12.PNG');
}
#brainBenderTile_13 {
    background-image: url('bb13.PNG');
}
#brainBenderTile_14 {
    background-image: url('bb14.PNG');
}
#brainBenderTile_15 {
    background-image: url('bb15.PNG');
}
#brainBenderTile_16 {
    background-image: url('bb16.PNG');
}
#brainBenderTile_17 {
    background-image: url('bb17.PNG');
}
#brainBenderTile_18 {
    background-image: url('bb18.PNG');
}
#brainBenderTile_19 {
    background-image: url('bb19.PNG');
}
#brainBenderTile_20 {
    background-image: url('bb20.PNG');
}
#brainBenderTile_21 {
    background-image: url('bb21.PNG');
}
#brainBenderTile_22 {
    background-image: url('bb22.PNG');
}
#brainBenderTile_23 {
    background-image: url('bb23.PNG');
}
#brainBenderTile_24 {
    background-image: url('bb24.PNG');
}
#brainBenderTile_25 {
    background-image: url('bb25.PNG');
}
#brainBenderTile_26 {
    background-image: url('bb26.PNG');
}
#brainBenderTile_27 {
    background-image: url('bb27.PNG');
}
#brainBenderTile_28 {
    background-image: url('bb28.PNG');
}
#brainBenderTile_29 {
    background-image: url('bb29.PNG');
}
#brainBenderTile_30 {
    background-image: url('bb30.PNG');
}
#brainBenderTile_31 {
    background-image: url('bb31.PNG');
}
#brainBenderTile_32 {
    background-image: url('bb32.PNG');
}
#brainBenderTile_33 {
    background-image: url('bb33.PNG');
}
#brainBenderTile_34 {
    background-image: url('bb34.PNG');
}
#brainBenderTile_35 {
    background-image: url('bb35.PNG');
}
#brainBenderTile_36 {
    background-image: url('bb36.PNG');
}

// start of QUOTE Wrapper 

#quoteWrapper {
    width:100%;
    height:max-content;
    position: relative;
    background: rgb(25,30,39);
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center; justify-content: center;
}

#quoteUI {
    height:400px;
    width:50%;
    background-color: rgb(165, 174, 190);
    position: relative;
    border-radius: 16px;
}

#quoteLandingPage {
    width: 100%;
    height:100%;
    position: absolute;
    background-color: rgb(211, 217, 218);
    padding:10%;
    display: flex;
    flex-direction: column;
    gap:15%;
    border-radius: 16px;
    overflow: hidden;

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }
    
    button {
        width:max-content;
        padding:.5rem 1rem;
        border-radius: 4px;
        border:none;
        position: relative;
        transition-duration: .5s;
        cursor: pointer;

        &:hover {
            background-color: #20232a;
            color:aqua;
    
        }
    }
}

// below are the moving sqaures on the bottom right of QuoteMatch

#quoteLandingPage::before {
    content:'';
    width:170px;
    height:170px;
    border: solid 10px #191e27;
    background-color: none;
    position: absolute;
    opacity: .4;
    right:-50px;
    bottom:-100px;
    animation: squareRotate 16s infinite;
}
#quoteLandingPage::after {
    content:'';
    width:130px;
    height:130px;
    opacity: .4;
    border: solid 10px #191e27;
    background-color: none;
    position: absolute;
    right:50px;
    bottom:-100px;
    animation: squareRotate 16s infinite ;
}

.qMBall {
    width:40px;
    height:40px;
    background-color: #191e27;
    opacity: .2;
    position: absolute;
    bottom:50px;
    right: 140px;
    animation: qmBall 4s infinite;
}

//start of Match Game ACTIVE 

#quoteStartPage {
width:100%;
height:100%;
color:white;
display: none; // toggle to work on game
flex-direction: column;
position: absolute;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding:2%;
gap:8%;
border-radius: 12px;
}

#resultPage {
    width:100%;
    height:100%;
    background-color: #20232a;
    color:white;
    position: absolute;
    overflow: hidden;
    display:none; // 
    flex-direction: column;
    gap:5%;
    align-items: center;
    justify-content: center;
}

#questionContainer {
    height:25%;
    width:90%;
    background-color: #212a3e;
    display:flex;
    position: relative;
    padding:5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:rgb(175, 228, 222);
}

#answerContainer {
    width:90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:.6rem;
}

.answers {
    width:100%;
    background-color: #212a3e;
    padding:.2rem;
    &:hover {
        background-color: #2b3751;
    }
}

#controlsContainer {
    padding: .25rem 1rem;
    background-color: rgb(197, 139, 31);
    color:black;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    user-select: none
}

.unanswered {
    background-color: #20232a;
}

.correct {
    background-color: #14591b;
    transition: 1s;
}
.incorrect {
    background-color: #591414;
    transition: 1s;
}

#score {
    font-size: 1.2rem;
}

.fallingNumber {
    position: absolute;
    color:aqua;
}

#fallingNumber_1 {
    font-size:1.2rem;
    left: 20%;
    top:-10%;
    animation: fallingNumber 3.5s .4s infinite;
    animation-timing-function: linear;
}
#fallingNumber_2 {
    font-size:1rem;
    left: 40%;
    top:-10%;
    color:rgb(4, 186, 186);
    animation: fallingNumber 3s .2s infinite;
    animation-timing-function: linear;
}
#fallingNumber_3 {
    font-size:1.4rem;
    left: 60%;
    top:-10%;
    animation: fallingNumber 4s .3s infinite;
    animation-timing-function: linear;
}
#fallingNumber_4 {
    font-size:1.3rem;
    left: 80%;
    top:-10%;
    color:rgb(4, 186, 186);
    animation: fallingNumber 3s .2s infinite;
    animation-timing-function: linear;
}

// Start of Footer

footer {
    width:100vw;
    height:120px;
    background-color: $greyMedium;
    display: flex;
    font-size: .6rem;
    align-items: center;
    justify-content: center;
    color:rgb(195, 195, 195);
    cursor:text;
    border-top:2px solid #344260;
}

#contactEmail {
    width:max-content;
    height: min-content;
    &:hover {
        color:aqua;
    }
}


// Animations

@keyframes hoverLetter {
    from {
        box-shadow: 0px 0px 3px 1px rgb(169, 169, 169);
        border:solid white 2px;
        font-size:1rem;
    }
    100% {
        box-shadow: 0px 0px 5px 1px rgb(41, 241, 221);
        border:solid rgb(58, 214, 245) 2px;
        font-size: 1.5rem;
    }
}

@keyframes moonglow {
    from {
        transform: scale(1);
        opacity: .5;
        box-shadow: white 0px 0px 8px 2px;
    }
    25% {
        opacity: .3;
        box-shadow: white 0px 0px 16px 2px;
    }
    50% {
        transform: scale(1.05);
        opacity: .5;
        box-shadow: white 0px 0px 10px 2px;
    }
    75% {
        opacity: .7;
        box-shadow: white 0px 0px 20px 2px;
    }
    100% {
        transform: scale(1);
        opacity: .5;
        box-shadow: white 0px 0px 8px 2px;
    }
}


@keyframes brainBenderTitle {
    from {
        gap:120vw;
    }
    100% {
        gap:0;
    }
}

@keyframes brainBenderTile {
    from {
        opacity: .4;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes slideoutRowLeft {
    from {
        position: relative;
        right:0vw;
    }
    100% {
        position: relative;
        right:100vw;
    }
}

@keyframes slideoutRowRight {
    from {
        position: relative;
        left:0vw;
    }
    100% {
        position: relative;
        left:100vw;
    }
}

@keyframes vpDisplayAppear {
    from {
        height:0%;
    }
    100% {
        height:300px;
    }
}

@keyframes animateDisplayImg {
    from {
        height:0%;
    }
    100% {
        height:200px;
    }
}

@keyframes squareRotate {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    55% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes growCircle {
    from {
        transform: translateY(-6px);
    }
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes fallingNumber {
    from {
        opacity:1;
        transform: rotate(0deg);
        top:-10%;
    }

    100% {
        opacity:0;
        transform: rotate(180deg);
        top:120%;
    }
}

@keyframes qmBall {
    from {
        transform: rotate(0deg);
        bottom:50px;
    }
    25% {border-radius: 50%;}
    50% {border-radius: 50%;
        transform: rotate(90deg);
        bottom:150px;
    }
    90% {
        border-radius: 0%;
        transform: rotate(180deg);
        bottom:50px;
    }
}




// These are all of the media Queries

@media only screen and (max-width: 500px) {

    header {
        width:100vw;
        position: fixed;
        top:0;
        height:13%;
        padding:10px 15vw 10px 15vw;
    }

    #landingPage {
        &::after {
            content:'';
        }
    }

    #pageSticker_1 {
        left:10%;
        top:50%;
    }
    #pageSticker_2 {
        right:15%;
        top:20%;
    }
    #pageSticker_3 {
        right:25%;
        top:70%;
        border:double rgb(45, 80, 95) 7px;
        animation-direction: reverse;
    }
    #pageSticker_4 {
        left:30%;
        top:20%;
    }

    #voylesPuzzle {
        padding: 3rem 0 6rem 0;
    }
    .vpLetter {
        width:11.2vw;
        height: 11.2vw;
    }
    #vpLetterBoard_Row1 {
        flex-wrap:wrap;
    }
    #vpLetterBoard_Row2 {
        flex-wrap:wrap;
        margin-top:1%;
    }
    #vpLetterBoard_Row3 {
        flex-wrap:wrap;
        margin-top:1%;
    }
    #vpDisplayWrapper {
        width:300px;
        height:10px;
    }
    #topNav {
        list-style-type: none;
        width:40%;
        margin-top:14px;
        position: absolute;
        justify-content: end;
        right:16%;
        display: none;
        gap:5%;
    }
    #vpLetterCode {
        font-size: .7rem;
    }
    #brainBender_Container_1,#brainBender_Container_2,#brainBender_Container_3,
    #brainBender_Container_4,#brainBender_Container_5,#brainBender_Container_6  {
        width:325px;
    }
    #quoteUI {
        width:80%;
        background-color: rgb(80, 91, 111);
    }

    #score {
        font-size: 1rem;
    }

    #quoteLandingPage::before {
        content:'';
        width:140px;
        height:140px;
    }
    #quoteLandingPage::after {
        content:'';
        width:110px;
        height:110px;
    }
    .qMBall {
        opacity: .05;
        right:130px;
        bottom:50px;
    }
}